{% extends 'base.html' %}

{% block title %}حسابات التحليل - النظام{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <h1>حسابات التحليل</h1>
        <a href="{% url 'accounting_dashboard' %}" class="btn btn-secondary">لوحة التحكم</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>الرمز</th>
                <th>الاسم</th>
                <th>النوع</th>
                <th>الحساب الرئيسي</th>
                <th class="text-right">الرصيد</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td><a href="{% url 'account_detail' account.pk %}">{{ account.code }}</a></td>
                <td>{{ account.name }}</td>
                <td><span class="badge badge-secondary">{{ account.get_account_type_display }}</span></td>
                <td>{{ account.parent.code }} - {{ account.parent.name }}</td>
                <td class="text-right">{{ account.get_balance }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">لا يوجد حسابات تحليل</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}