{% extends 'base.html' %}

{% block title %}Income Statement - elem{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <h1>Income Statement</h1>
        <a href="{% url 'accounting_dashboard' %}" class="btn btn-secondary">Dashboard</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5>Revenue</h5>
            </div>
            <table class="table">
                {% for item in revenue_data %}
                <tr>
                    <td>{{ item.account.code }} - {{ item.account.name }}</td>
                    <td class="text-right">{{ item.balance }}</td>
                </tr>
                {% endfor %}
                <tr class="font-weight-bold">
                    <td>Total Revenue</td>
                    <td class="text-right">{{ total_revenue }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h5>Expenses</h5>
            </div>
            <table class="table">
                {% for item in expense_data %}
                <tr>
                    <td>{{ item.account.code }} - {{ item.account.name }}</td>
                    <td class="text-right">{{ item.balance }}</td>
                </tr>
                {% endfor %}
                <tr class="font-weight-bold">
                    <td>Total Expenses</td>
                    <td class="text-right">{{ total_expense }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>Net Income: {{ net_income }}</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}